@media (min-width: 1300px) {
    .slick-next {
        left: 76px;
    }

    .slick-prev {
        left: -24px;
    }

    .arrow_btns {
        margin-left: -44px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }

    .app_card_wrap {
        margin-right: -100px;
    }
}

@media (max-width: 1399px) {

    .ftr_mr_lft {
        margin-left: -100px;
    }

    .footer .ftr_frm_wrap {
        padding: 60px;
    }

    .news_sec aside {
        margin-right: 0;
    }
}

@media (max-width: 1199px) {
    .ftr_l_bx {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer p {
        max-width: calc(100% - 100px);
        margin: auto;
    }

    .footer .social_list {
        justify-content: center;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 50px;
        line-height: 54px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .slick-prev,
    .slick-next,
    .arrow_btns button {
        width: 28px;
        height: 24px;
    }

    .slick-prev:hover,
    .slick-next:hover {
        background-color: transparent;
        box-shadow: none;
    }

    .service_sec .slick-prev,
    .service_sec .slick-next {
        transform: translateY(70px);
    }

    .arrow_btns {
        display: flex;
        gap: 50px;
    }



    .bnr_info {
        padding-top: 140px;
    }

    .doc_sec .img_wrap {
        width: fit-content;
        margin-bottom: 30px;
    }

    .doc_sec .doc_slider .doc_info {
        margin-left: 0;
    }

    .service_sec,
    .testi_card,
    .news_sec,
    .appoint_sec {
        padding: 60px 0;
    }

    .doc_sec {
        padding-bottom: 60px;
    }

    .testi_sec {
        padding: 60px 0 120px;
    }

    .testi_sec .tittle_container {
        padding-bottom: 50px;
    }

    .doc_sec p {
        max-width: 350px;
    }

    .doc_sec .doc_slider .slick-prev {
        left: 31%;
    }

    .doc_sec .doc_slider .slick-next {
        left: 39%;
    }

    .header {
        top: 30px;
    }

    .service_sec .service_icon_bx {
        margin-right: 15px;
        margin-left: 15px;
    }

    .testi_card {
        padding: 40px 10px;
    }

    .header .navbar-nav .nav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header .navbar-nav {
        align-items: center;
        margin-top: 20px;
    }

    .app_card_wrap {
        margin-left: 0;
        padding: 50px 30px;
    }

    .footer .ftr_frm_wrap h2 {
        font-size: 30px;
    }


    .footer .news_frm_wrap {
        width: calc(100% - 250px);
    }

    .footer .ftr_frm_wrap {
        padding: 30px;
    }

    .step_wrap {
        padding-top: 0;
    }
}


@media (max-width: 767px) {
    .footer .ftr_service_wrap {
        margin-left: 0;
    }

    .bnr_info {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .service_sec .service_item {
        width: 100%;
        padding: 0;
    }

    .service_sec .service_item:nth-child(2),
    .service_sec .service_item:nth-child(3) {
        margin-top: 0;
    }

    .service_sec .service_row {
        row-gap: 25px;
    }

    .doc_sec .social_float_wrap {
        right: 0;
        left: 0;
        margin: auto;
    }

    .doc_sec .img_wrap {
        width: auto;
    }

    .doc_sec .img_wrap img {
        width: 100%;
        min-height: auto;
    }

    .doc_sec .doc_slider .doc_info {
        padding-bottom: 160px;
    }

    .doc_sec .doc_slider .slick-prev {
        left: 0;
    }

    .doc_sec .doc_slider .slick-next {
        left: 20%;
    }

    .doc_sec .slick-dots li, .doc_sec .slick-dots li button {
        width: 100px;
        height: 130px;
    }

    .doc_sec .doc_slider .item {
        margin: 0;
    }

    .footer_wrap {
        text-align: center;
    }

    .row > div:not(:last-child) .footer_wrap {
        margin-bottom: 20px;
    }

    .news_sec .news_con {
        padding-left: 0;
    }

    .news_sec .news_con {
        padding-top: 18px;
    }

    .bnr_sec {
        padding-bottom: 0;
    }

    .footer .news_frm_wrap {
        width: 100%;
    }

    .step_wrap .step_list {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer .ftr_frm_wrap {
        gap: 0;
        margin: 0;
    }

    .news_sec article {
        padding-bottom: 100px;
    }

    .app_card_wrap {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 0 30px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
        line-height: 44px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 20px;
    }

    .service_sec h4 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
    }

    .doc_sec .slick-dots li, .doc_sec .slick-dots li button {
        width: 80px;
        height: 100px;
    }
    
    .top_ptrn img {
        width: 50%;
    }

    .bottom_ptrn img {
        display: block;
        margin-left: auto;
        width: 50%;
    }

    .icon_wrap button {
        width: 40px;
    }

    .header {
        top: 20px;
    }

    .service_sec,
    .testi_card,
    .news_sec,
    .appoint_sec {
        padding: 30px 0;
    }

    .doc_sec {
        padding-bottom: 30px;
    }

    .testi_sec {
        padding: 30px 0 120px;
    }

    .footer .btm_footer {
        font-size: 18px;
    }
}